html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
nav{
    z-index: 1;
}
#landing-header{
    text-align: center;
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
    color: white;
}
hr{
    text-align: center;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#header{
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
#header-li{
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
