.contact{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #CED4DA;
    padding: 10px;
}
.nameContact{
    display: flex;
    flex-direction: column;
    flex:1;
}

.nameContact p{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    height: 1.2em;
    text-overflow: ellipsis;
}

.avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}